/*2018.03.04*/
/*syw*/

.loginpage {
    margin-left:20%;
    margin-right:20%;
    margin-top:50px;
}

body {
}

.input_asp_box_multiline{
    resize:none;
}

.input_asp_box_sigleline_no border {
    border:none;

}

.form-control-nonewline {
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .05s, -webkit-box-shadow ease-in-out .05s;
       -o-transition: border-color ease-in-out .05s, box-shadow ease-in-out .05s;
          transition: border-color ease-in-out .05s, box-shadow ease-in-out .05s;
}

.form-control-timechoice1 {
  float:left;
  width: 30%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .05s, -webkit-box-shadow ease-in-out .05s;
       -o-transition: border-color ease-in-out .05s, box-shadow ease-in-out .05s;
          transition: border-color ease-in-out .05s, box-shadow ease-in-out .05s;
}
.form-control-timechoice1:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

.form-control-timechoice2 {
  width: 30%;
  margin-left:5%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .05s, -webkit-box-shadow ease-in-out .05s;
       -o-transition: border-color ease-in-out .05s, box-shadow ease-in-out .05s;
          transition: border-color ease-in-out .05s, box-shadow ease-in-out .05s;
}
.form-control-timechoice2:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

.form-control-timechoice3 {
  width: 30%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .05s, -webkit-box-shadow ease-in-out .05s;
       -o-transition: border-color ease-in-out .05s, box-shadow ease-in-out .05s;
          transition: border-color ease-in-out .05s, box-shadow ease-in-out .05s;
}
.form-control-timechoice3:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

.div_centerbox {
    display:inline;
    text-align: center;
    width: 100%;
}

.font_exp_title {
    font-size:16px;
    margin-bottom:10px;
}

.font_note {
    width: 10%;
    margin-left:5%;
    font-size:7px;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 6px 12px;
    line-height: 1.42857143;
    font-style:normal;
    color:darkgray;
}

.form-control-detail {
  float:left;
  width: 30%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .05s, -webkit-box-shadow ease-in-out .05s;
       -o-transition: border-color ease-in-out .05s, box-shadow ease-in-out .05s;
          transition: border-color ease-in-out .05s, box-shadow ease-in-out .05s;
}

.form-control-detail2 {
  width: 17.5%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .05s, -webkit-box-shadow ease-in-out .05s;
       -o-transition: border-color ease-in-out .05s, box-shadow ease-in-out .05s;
          transition: border-color ease-in-out .05s, box-shadow ease-in-out .05s;
}

.help_label {
    width:12%;
    margin-left:5%;
    height: 34px;
    padding: 6px 12px;
    font-size: 12px;
    line-height: 1.42857143;
    color: darkgray;
    background-color: #fff;
    background-image: none;
    font-style:normal;
    
}

.div_threebutton {
    width: 30%;
    float: right;
    height: 34px;
}

.form-control-buttondetail {
  width: 30%;
  height: 34px;
  padding: 6px 6px;
  text-align:center;
  font-size: 14px;
  line-height: 1.42857143;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-control-buttondetail2 {
  width: 30%;
  height: 34px;
  margin-left:2%;
  padding: 6px 6px;
  text-align:center;
  font-size: 14px;
  line-height: 1.42857143;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-control-buttondetail3 {
  width: 30%;
  height: 34px;
  padding: 6px 6px;
  text-align:center;
  float:right;
  font-size: 14px;
  line-height: 1.42857143;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.option_warning {
color:darkgray;
}

.margin-left-right0 {
    margin-left:0;
    margin-right:0;
}

.input_asp_box_multiline_noborder{
    width:100%;
    padding: 6px 12px;
    font-size: 12px;
    line-height: 1.42857143;
    color: darkgray;
    font-style:normal;
    background-color: #fff;
    background-image: none;
    resize:none;
    border:none;
}

.input_asp_box_single_noborder{
    width:100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border:none;
}